{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet quam lacus, eget feugiat dolor maximus et. Vivamus ut lacinia odio. Vivamus et metus cursus lacus malesuada mattis ac semper nulla. Phasellus vitae aliquam ex. Pellentesque laoreet mauris et semper gravida. Donec malesuada, nunc nec volutpat posuere, velit erat venenatis ex, pulvinar elementum est libero aliquet diam. Sed nec mauris tincidunt, ultrices dolor nec, pulvinar ante. Aenean consequat venenatis quam, eget tempus mauris eleifend nec. Aliquam viverra vulputate enim sed eleifend. Morbi non est auctor, tempor risus et, tincidunt felis. Nulla tempus molestie orci, in placerat magna tincidunt eu. Donec et arcu et nulla luctus dapibus. Curabitur finibus in leo non eleifend.

    Mauris et magna a est tempor fringilla. In nec urna ac lorem egestas dignissim. Praesent aliquam, nulla sit amet condimentum accumsan, dolor dolor mollis quam, feugiat pulvinar augue quam quis leo. Mauris eu nulla est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent tincidunt urna et orci ullamcorper fringilla et sit amet risus. Pellentesque pulvinar, eros ut fermentum faucibus, enim odio porttitor lacus, varius consequat tellus metus id nunc.

    Pellentesque eu ornare nibh, eget venenatis mi. In rutrum libero in auctor tincidunt. Nulla at laoreet nisl. Curabitur egestas pretium urna vel rutrum. Nulla feugiat gravida urna nec porttitor. Etiam quis rutrum mi, vel condimentum ex. Vivamus ultrices urna eu ullamcorper tempus. Donec vehicula nunc sit amet arcu pretium blandit. Nam luctus, ligula vitae tincidunt laoreet, lorem elit cursus leo, ultricies condimentum justo ante nec ante. Vivamus ullamcorper tristique mauris. Duis sollicitudin nisl ligula, ac pulvinar quam tempor quis. Donec ac metus id libero luctus facilisis a quis arcu. Ut tincidunt iaculis massa, nec hendrerit velit ultricies nec.

    Sed congue libero tincidunt sem posuere, ac accumsan ex commodo. Vestibulum consequat condimentum mauris, ac placerat felis faucibus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus suscipit turpis, non dignissim mi molestie in. Pellentesque sit amet tortor lectus. Aliquam fermentum enim non metus consequat feugiat. Quisque porta orci massa, viverra egestas mauris tempor id. Etiam facilisis ante scelerisque est interdum porttitor. Pellentesque hendrerit porttitor turpis, non egestas quam tincidunt ac. Fusce vel condimentum mauris.

    Donec ac velit quis mi pulvinar convallis eget ac sem. Nunc hendrerit dui consequat erat imperdiet commodo eget feugiat lectus. Phasellus efficitur, lacus aliquet rhoncus aliquam, arcu nulla ullamcorper felis, rutrum imperdiet dui orci vel erat. Quisque egestas sodales quam, vehicula ullamcorper massa congue in. Nam sed neque ante. Vivamus auctor gravida tellus nec feugiat. Phasellus interdum malesuada aliquam. Nulla vitae felis feugiat, tincidunt odio in, cursus massa. Duis egestas vehicula accumsan. Ut erat augue, malesuada in blandit vel, bibendum eget ipsum.

    In porttitor erat massa, eget egestas urna convallis ut. Etiam pulvinar quam eu lobortis scelerisque. Morbi vehicula pharetra magna, at tincidunt eros pharetra at. Donec elementum dolor est, sed fringilla massa dignissim at. Curabitur sollicitudin at metus et finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ex felis, dapibus nec massa in, lacinia laoreet est. Morbi mi urna, dictum non tristique nec, eleifend vel turpis.

    Suspendisse facilisis odio et nibh dignissim tristique. Nunc pulvinar leo vel ornare vehicula. Nulla sagittis nisl ac leo malesuada dignissim. Donec dapibus, elit quis pellentesque feugiat, erat nulla tempus nibh, eu porta enim quam tempus diam. Aliquam erat volutpat. Maecenas auctor ultricies vehicula. Fusce consequat nibh sed risus fermentum gravida. Duis aliquet diam id risus pellentesque, vitae viverra ante tincidunt.

    Etiam ac porttitor nunc. Ut lacinia lorem quis ligula ullamcorper eleifend. Aliquam erat volutpat. Mauris porta in magna eu ultrices. Proin a rutrum libero. Etiam ipsum mi, elementum quis ex dignissim, hendrerit ullamcorper magna. Cras vehicula fermentum sapien eget volutpat. Nullam nec lacus vel augue lacinia consectetur. Integer a erat eros. In congue sapien et mauris efficitur, sit amet sodales ante vulputate. In hac habitasse platea dictumst.

    Nunc dapibus lacus quis erat efficitur, sed consequat enim blandit. Sed ultrices massa gravida lorem aliquam, eu fringilla dolor semper. Pellentesque tempus auctor nisi. Ut purus leo, vestibulum eu lacinia nec, varius sit amet risus. Maecenas eu sem ligula. Maecenas elementum et erat quis tristique. Donec at rutrum dolor, eu scelerisque risus. Praesent sit amet vehicula tortor. Proin quam purus, iaculis non nisl sed, lacinia tincidunt tortor. Suspendisse posuere fringilla sagittis. Sed cursus orci nec orci viverra, id feugiat tellus facilisis. Duis rutrum sit amet nulla non faucibus. Cras sodales dolor in leo vulputate, quis tempus mi eleifend. Nulla faucibus justo id malesuada vulputate. Nullam tempor finibus semper.

    Suspendisse magna nibh, tincidunt eget feugiat vel, commodo a enim. Pellentesque sit amet tincidunt diam, in interdum mauris. Nullam vel nisi eget nunc molestie suscipit nec in lorem. Sed ut enim et justo efficitur faucibus ut ac ante. In felis augue, auctor viverra velit at, scelerisque efficitur tortor. Cras id congue nisi. Nunc sit amet condimentum mauris. Pellentesque suscipit quam felis, at consectetur lacus imperdiet fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis vitae enim ut ornare. Curabitur commodo arcu ut rhoncus dictum. Quisque a lobortis ex. Sed ligula nisi, luctus sit amet ligula ac, faucibus tincidunt ipsum. Aliquam interdum sed lectus cursus feugiat. Vestibulum quam sapien, mattis nec consequat non, interdum vel erat. Curabitur turpis lorem, dictum non orci in, rhoncus pretium purus.
</div>
{% endblock %}
